.cancBtnOn{
  background-color: red;
  border-color: brown;
  padding: 4px 4px;
  border-radius: 50%;
  display: block;
}

.cancBtnOn:hover{
  border-color: red;
}

.cancBtnOff{
  background-color: lightgray;
  border-color: brown;
  padding: 4px 4px;
  border-radius: 50%;
  display: block;
}

.yesBtn{
  background-color: rgb(0, 219, 48);
  border-color: rgb(0, 92, 15);
  padding: 4px 4px;
  border-radius: 30%;
  display: block;
}

.yesBtn:hover{  
  border-color: rgb(0, 219, 48);
}

.noBtn{
  background-color: red;
  border-color: brown;
  padding: 4px 4px;
  border-radius: 30%;
  display: block;
}

.noBtn:hover{  
  border-color: red;
}

.elementList{
  height: 360px;
}

.loading{
  height: 360px;
  width: 200px;
  bottom: 356px;
  background-color: rgba(255, 255, 255, .7);
}

.loadingBox{
  margin: auto;
  padding-top: 80px;
  text-align: center;
}

.loadingText{
  margin: auto;
  width: 80px;
  height: 30px;
  border: 1px solid gray;
  border-radius: 14%;
  padding-top: 12px;
  text-align: center;
}

table{
  width: 90%;
  padding-left: 10px;
  padding-right: 10px;
}

.row{
  width: 100%;
  border: 1px solid black;
  background-color: white;
}

.row:hover{  
  background-color: rgb(189, 189, 189);
}

.tdName{
  min-width: 100px;
}

.txt{
  color: black;
  min-width: 80px;
}


.imageIcon{
  width: 20px;
  height: 20px;
  object-fit: cover;
  border: 1px solid;
  border-radius: 25%;
}